 {{ define "main" }}
<section id="main">
    <h1 id="title">{{ .Title }}</h1>
    <h5 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h5>
    <div>
        <article id="content">
            {{ .Content }}
        </article>
    </div>
</section>
<aside id="meta">
    <!-- <div>
        {{ with .Params.topics }}
        <ul id="topics">
            {{ range . }}
            <li><a href="{{ " topics " | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }} {{ with .Params.tags }}
        <ul id="tags">
            {{ range . }}
            <li> <a href="{{ " tags " | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
    </div> -->
    <div>
        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a> {{ end }} {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a> {{ end }}
    </div>
</aside>
{{ template "_internal/disqus.html" . }}

<script src="/prism.js"></script>
<link rel="stylesheet" href="/prism.css">
<link rel="stylesheet" href="/custom.css"> {{ end }}